<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Data</title>
</head>

<body>
    <form method="POST" action="/exchange">
        <label for="coin">Enter coin name:</label>
        <input type="text" id="coin" name="coin"> <br>

        <label for="exchange">Select exchange:</label>
        <select id="exchange" name="exchange">
            {% for exchange in exchanges %}
            <option value="{{ exchange }}">{{ exchange }}</option>
            {% endfor %}
        </select> <br>

        <button type="submit">Submit</button>
    </form>
</body>

</html>